# Virtual Environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env
venv/
ENV/
env.bak/
venv/bak/

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log